*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.24s;
  transition: all 0.24s;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
}

html, body {
  padding: 0;
  margin: 0;
  background: white;
}

body {
  background-color: #F5F5F5;
}

.hidden {
  display: none !important;
}

.hidden-2 {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

#colour-picker-section {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 80vh;
}

#colour-picker-container {
  padding: 40px;
  margin: 0 auto;
  background: white;
  max-width: 600px;
  -webkit-box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2), 30px 30px 50px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.2), 30px 30px 50px 0 rgba(0, 0, 0, 0.06);
}

#colour-picker-title {
  padding-bottom: 15px;
}

#colours-container {
  background: #F5F5F5;
  padding: 20px;
  padding-top: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.colour {
  height: 50px;
  width: calc(33.33% - 10px);
  background: #555;
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15), 3px 3px 5px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15), 3px 3px 5px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: none;
  transition: none;
}

.colour:not(:last-child) {
  margin-right: 10px;
}

#colour-primary {
  background: #866cef;
}

#colour-accent {
  background: #14b881;
}

#colour-neutral {
  background: white;
}

.colour-label {
  position: relative;
  top: -25px;
  font-size: 0.85rem;
}

.header {
  padding-top: 30px;
}

#colour-picker-output {
  position: relative;
  background: #F5F5F5;
  margin-top: 20px;
  padding: 20px;
}

#colour-picker-output-copy {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 38px;
  width: 38px;
  padding: 8px;
  padding-top: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #eee;
}

#colour-picker-output-copy:hover {
  background: #ddd;
}

#colour-picker {
  position: absolute;
  margin: 0 auto;
  padding: 10px;
  background: white;
  width: 280px;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3), 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.3), 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out, -webkit-transform 0.15s ease-out;
}

#colour-picker > div > svg {
  width: 100%;
  height: 100%;
}

#colour-picker > div > svg rect {
  rx: 5px;
  ry: 5px;
}

#colour-picker div:not(:last-child) {
  margin-bottom: 10px;
}

#colour-picker-exit {
  position: absolute;
  top: 0;
  right: calc(100% - 8px);
  height: 40px;
  width: 40px;
  padding-right: 6px;
  background: white;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
  font-size: 22px;
  color: #777;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

svg {
  display: block;
}

.circle-selector, #colour-picker-panel {
  -webkit-transition: none;
  transition: none;
}

@media screen and (max-width: 767px) {
  #colour-picker {
    max-width: 220px;
  }
  #colour-picker-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #colour-picker-container {
    padding: 20px;
  }
  #colour-picker-title {
    padding: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  .colour {
    width: 100%;
  }
  .colour:not(:last-child) {
    margin-bottom: 35px;
  }
}
/*# sourceMappingURL=color-pallet.css.map */