﻿@font-face {
    font-family: STC;
    src: url('../fonts/STC-Regular.ttf')
}
@font-face {
    font-family: STC-Bold;
    src: url('../fonts/STC-Bold.ttf')
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: right;
}
.info-box .content .text {
    font-size: 15px;
    font-family: STC-Bold;
    margin: 0;
}
.info-box .content .number{
    margin: 0;
}
.info-box .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.card .header h2 {
    font-family: STC-Bold;
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before{
    top: 0;
}
button.btn.btn-primary.waves-effect,
button.btn.btn-success {
background-image: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#FF8900));
background-image: -o-linear-gradient(#c3c3c3, #FF8900);
background-image: linear-gradient(#c3c3c3, #FF8900);
}
.btn:not(.btn-link):not(.btn-circle) {
    border: 1px solid #FF8900 !important;
    background-color: #FF8900 !important;
}
button.btn.btn-primary.waves-effect:hover,
button.btn.btn-success:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FF8900), to(#FF8900));
    background-image: -o-linear-gradient(#FF8900, #FF8900);
    background-image: linear-gradient(#FF8900, #FF8900);
}
form button.btn.btn-primary.waves-effect {
    text-align: center;
    display: table;
    margin: 0 auto;
    min-width: 120px;
    background-image: none;
}
.btn-danger1 {
    background-color: #0B4B93 !important;
    border-color: #0B4B93 !important;
        color: #ffff;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-danger1:hover , .btn-danger1:focus {
    background-color: #FF8900 !important;
    border-color: #FF8900 !important;
    color: #fff;
}
.btn-info,.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    background-image: none;
    background-color: #ff8900 !important;
    border-color: #ff8900;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: right;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    left: 12px;
    right: auto;
}
tbody tr:nth-child(even), tbody tr:nth-child(even):hover {
    background: #fff;
    color: #0B4B93;
}
.table-bordered thead tr th , .table-bordered tbody tr td, .table-bordered tbody tr th{
    border: 1px solid #fc9f33;
}
.btn-danger {
    background-color: #FF8900 !important;
}
.btn-circle i {
    position: static;
    padding: 0 !important;
}
button.btn.btn-default.buttons-html5,
button.btn.btn-default.buttons-print {
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

button.btn.btn-default.buttons-html5:hover,
button.btn.btn-default.buttons-print:hover {
    background-color: #FF8900 !important;
}

.sidebar .user-info {
    background: url(../../admin/images/shapes-background-png-free-transparent-png.png);
    background-position: center;
    background-size: contain;
}
.sidebar .user-info .image {
    background-color: #fff;
    border-radius: 50%;
}
.theme-red .navbar, .menu.active, .menu {
    background: #0B4B93 !important;
}
.theme-red .sidebar .menu .list .toggled {
    background-color: #FF8900;
}
.info-box.bg-red.hover-expand-effect, .info-box.bg-lime.hover-expand-effect, .info-box.bg-yellow.hover-expand-effect {
    cursor: pointer;
}
.theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span {
    color: #fff;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle):before {
    content: '\E314';
    color: inherit;
}

thead {
    background-color: #FF8900;
}

.btn-danger {
    background-color: #fa503a !important;
    border-color: #fa503a !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color: #ce3925 !important;
    border-color: #fa503a !important;
}

a.forget {
    display: block;
    margin-top: 14px;
    color: #f9f9f9;
}
.pagination li.active a:hover{
    background-color: #064c96;
}
.card div.body {
    overflow-x: hidden;
}
table#DataTables_Table_0{
    width: 100% !important;
    margin: 30px auto 20px auto;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    background-color: #ff8900;
    border-color: #ff8900 !important;
    background: #ff8900 !important;
}
thead {
    color: #fff;
}
.table td a i.fa.fa-eye {
    color: #fff;
    background-color: #0b4b93;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}
.sidebar .user-info .info-container .user-helper-dropdown {
    position: absolute;
    left: -3px;
    bottom: 9px;}
.dropdown-menu>li>a:hover {
    background-color: #FF8900;
    color: #fff;
}

body , .sidebar .menu{
    font-family: 'STC' !important
}
body{
    background-image: none
}
section.content {
    background-image: url(../images/background.png);
    background-image: url(../images/6978673_preview.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    min-height: 100vh;
}
section.content:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255,255,255,.5);
}
section.content .container-fluid{
    position: relative;
}
section.content .container-fluid .form-group .form-control {
    border: 1px solid #0B4B93;
    border-radius: 4px;
    font-size: 16px;
}
.card-header {
    color: #fff;
    margin-bottom: 15px;
}
.login-page {
    background-image: none;
    background-size: 100% 108%;
    height: 100vh;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
img.logo-login {
    max-width: 220px;
}
.login-box {
    background-color: rgba(0, 45, 87, 0.4);
    border-radius: 8px;
    padding: 20px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    right: unset;
    margin: unset;
    bottom: unset;
}

.login-box .card{
    background: none;
    margin: 0;
}
.login-box button.btn.btn-block.bg-blue.waves-effect {
    height: 42px;
    max-width: 200px;
    border-radius: 8px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.login-box button.btn.btn-block.bg-blue.waves-effect:hover,
.login-box button.btn.btn-block.bg-blue.waves-effect:focus{
    background-color: #0B4B93 !important;
    border-color: #0B4B93 !important;
}
.login-page .input-group .input-group-addon .material-icons {
    color: #ff8900;
}
.login-page .login-box .logo a {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}
.login-page .form-control {
    height: 40px;
}
/***** login background animation ************/

.water-wrapper {
  width: calc(100vw + calc(750px / 2));
  height: 750px;
  position: absolute;
  left: calc((0px - 750px) / 2);
  bottom: -200px;
  overflow: hidden;
  background: #203588;
}
.water-wrapper .wave {
  -webkit-transform-origin: 45% 50%;
          -ms-transform-origin: 45% 50%;
      transform-origin: 45% 50%;
  width: 750px;
  height: 750px;
  display: inline-block;
  position: absolute;
  margin-top: calc((0px - 750px) / 2);
  border-radius: 50%;
  background: #3065b7;
  -webkit-animation: circlewave 4s infinite linear;
          animation: circlewave 4s infinite linear;
}
.water-wrapper-level1 {
  width: calc(100vw + calc(750px / 3));
  height: 750px;
  position: absolute;
  bottom: calc(-200px + 60px);
  left: calc((0px - 750px) / 3);
  overflow: hidden;
  background: none;
}
.water-wrapper-level1 .wave {
  background: #6b9de0;
}
.water-wrapper-level2 {
  width: calc(100vw + calc(750px / 2));
  height: 750px;
  position: absolute;
  bottom: calc(-200px + 120px);
  left: calc((0px - 750px) / 2);
  overflow: hidden;
  background: none;
}
.water-wrapper-level2 .wave {
  background: #accbee;
}

@-webkit-keyframes circlewave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circlewave {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
    section.content .container-fluid .form-group .form-control {
    font-size: 14px;
}

    .login-page .login-box .logo {
    margin-bottom: 0;
}
    img.logo-login {
    max-width: 160px;
}
    .login-box {
    padding: 20px 4px;
            width: 90%;
}
    body.login-page.ls-closed {
    padding: 0;
    margin: 0 !important;
    top: 0 !important;
    background: none !important;
}
}
.form-control:focus{
    border-color: #FF8900 !important
}
.navbar-brand>img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}
.navbar>.container-fluid .navbar-brand {
    width: unset;
    margin: 0;
    max-width: 200px;
    height: 60px;
    display: inline-block;
    background-color: #fff;
    padding: 4px;
    float: right;
    line-height: 1;
}
table.dataTable.no-footer {
    border-bottom: 1px solid #ff8900;
}
/**********************************/
@media (min-width: 768px){
.navbar-header {
    float: right;
}
}

@media only screen and (max-width: 767px) {
    section.content{
        min-height: unset
    }
    .dataTables_wrapper .dataTables_filter label, .dataTables_length label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin-bottom: 14px;
}
    .dataTables_wrapper .dataTables_paginate .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }
    .navbar>.container-fluid .navbar-brand {
    width: unset;
        }
}

@media only screen and (max-width: 600px) {
  .dataTables_wrapper .dt-buttons {
    position: relative;
    top: 0;
    left: 0;
}
/*
    .btn {
    display: inline-block;
        padding: 6px 10px;
    }
*/
    /****home***/
    .info-box .content .text {
    font-size: 14px;
    }
    .info-box .icon {
    width: 40px;
}
    .info-box .icon i {
    font-size: 20px;
    }
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {

    background-color: #0B4B93;
}
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: absolute;
    left: 0;
    opacity: 0;
    display: none;
}

.hint_img{
    color: red;
    vertical-align: middle;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.sizes{
    display: inline-flex;
}
.sizes span{
    margin: 0 6px;
}
