#print-all {
    color: rgb(255, 255, 255);
    font-size: 19px;
    padding: 5px 25px;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    transition: all 0.5s ease 0s;
    background-color: #000000;
    margin: 20px auto;
    display: table;
}
/***** bill content ***********/
.myDivToPrint{
    font-size: 15px;
    display: none;
}
.padd_btm {
    padding: 14px 0 22px 0;
}
.flexx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.padd_btm.flexx {
    border-bottom: 2px solid #eeeeee;
}
.my_logo {
    width: 110px;
}
.my_logo img {
    max-width: 100%;
    object-fit: contain;
    max-height: 76px;
}
.fatora {
    margin: 0;
    font-weight: bold;
}
.info_ul li {
    line-height: 2;
}
.the_table {
    border-collapse: collapse;
    width: 100%;
}
.the_table td,
.the_table th {
    border: 1px solid #ddd;
    padding: 10px;
}
.the_table tr:nth-child(odd) {
    background-color: #f2f2f2;
}
.the_table tr:hover {
    background-color: #ddd;
}
.the_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #254B93;
    color: #fff;
}
.tb_product {
    width: 80px;
    margin-bottom: 10px;
}
.tb_product img {
    max-width: 100%;
    object-fit: contain;
    max-height: 60px;
}
@media print {
    body,
    html {
        direction: rtl;
    }
    .padding-none {
        padding: 0 20px !important;
    }
    .hide-print,
    .sidebar,
    .print-data button {
        display: none;
    }
    section.content {
        margin: 0;
        width: 100%;
    }
    html,
    body {
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        overflow-y: auto;
    }
    .show-print {
        display: block;
    }
    td.show-print,
    th.show-print {
        display: table-cell;
    }
    .pr-head {
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 30px;
    }
    .width-50 {
        width: 50%;
    }
    tfoot {
        position: static !important;
    }
    thead,
    tfoot {
        display: table-row-group;
    }
    .tfoot {
        page-break-before: always !important;
        page-break-after: always !important;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px 0 !important;
        font-size: 7px !important;
    }
    .table-bordered thead tr th {
        text-align: center !important;
    }
    .table-bordered thead tr td {
        text-align: right !important;
    }
    /******/
    @page {
        size: 8cm auto;
        width: 8cm;
        height: 100%;
        margin: 0 auto;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        page-break-after: always;
    }
    body {
        width: 8cm !important;
        width: 100%;
        height: auto;
        page-break-after: always;
        padding-bottom: 2px;
        background: none;
    }
    .myDivToPrint,
    body {
        /* height:max-content!important; */
        font-size: 11px;
        margin: 0 auto !important;
        overflow-y: visible;
        page-break-after: always;
        display: table !important;
        padding-bottom: 24px;
    }
    .myDivToPrint {
        border: 1px solid #000000 !important;
        margin: 0 auto !important;
        padding: 6px 2px 2px 2px;
        background: none;
        display: table !important;
        width: 100%;
        height: 100%;
        page-break-after: always;
        width: 100%;
        margin: 0 auto 50px auto;
        margin-top: 0px !important;
    }
    .table-responsive {
        margin: 0 !important;
        width: 100% !important;
    }
    .table {
        font-size: 7px;
        width: 100% !important;
        margin: 20px 0 0 0 !important;
        border-radius: 0;
        border-collapse: collapse;
        border-style: dotted;
    }
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td,
    .table > thead > tr > th,
    .table-bordered {
        border-top: 1px dotted #ebeff2 !important;
    }
}
